# Object files
*.o

basic
casts
mem
templates
how_memory_allocation_works
const

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.swp
*.swn
